@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General body and typography styles */
body {
    font-family: "Gowun Batang", sans-serif;
    text-align: left;
    position: relative;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('IMG_20190426_081744.avif') no-repeat center center fixed;
    background-size: cover;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
body > * {
    position: relative;
    z-index: 2;
}
body, a, .nav-buttons .btn {
    color: hsl(60, 40%, 84%);
}
h1, h2 {
    margin-top: 3em;
}
h2 {
    margin-top: 2em;
}

/* Layout containers */
.container {
    width: 70%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10em;
    margin-top: 5em;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 4em 1em;
        margin-top: 4em;
    }
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000; /* Optional, shows a background before loading the video */
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Header and navigation */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-bottom: 1px solid hsla(60, 41%, 84%, 0.2);
}
.header h1 {
    margin: 0;
    font-size: 2em;
}
.nav-buttons {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.nav-buttons .btn {
    text-decoration: none;
    padding: 0.5em 1em;
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit; /* Uses the color already defined globally */
    border: 1px solid hsl(60, 40%, 84%);
    border-radius: 0.25em;
    transition: background-color 0.3s, box-shadow 0.2s;
}
.nav-buttons .btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
.nav-buttons .btn:active {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-buttons {
        margin-top: 1em;
        gap: 0.5em;
        width: 100%;
        justify-content: flex-start;
    }
    .nav-buttons .btn {
        flex-grow: 1;
        text-align: center;
    }
}

/* Additional styles */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    vertical-align
