@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

html {
  background-color: #f1f5f9;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #d476ff;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #76dfff;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1em;
  transition: 0.3s;
  margin: 0em 2em 0em 2em;
}

.nav-links a:hover, a:focus {
  background-color: #ffffff;
  border-radius: 1em;
  transition: 0.3s;
  box-shadow: 0px 11px 28px 0px rgba(0,0,0,0.26);
  -webkit-box-shadow: 0px 11px 28px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 11px 28px 0px rgba(0,0,0,0.26);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;    /* Vertically center */
    position: static;
    width: auto;
    background: none;
    padding: .3em;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 1em;
    box-shadow: 0px 11px 28px 0px rgba(0,0,0,0.10);
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}