---
import BaseLayout from '../../layouts/BaseLayout.astro';
const blogPosts = Object.values(import.meta.glob('../blog/*.md', { eager: true }));
const writingPosts = Object.values(import.meta.glob('../writing/*.md', { eager: true }));
const fictionPosts = Object.values(import.meta.glob('../fiction/*.md', { eager: true }));
const allPosts = [...blogPosts, ...writingPosts, ...fictionPosts];
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>