---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

---

<style is:global define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
      color: purple;
      font-size: 4rem;
  }
  .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <p>
      Matthew Oyan is a multidisciplinary creative specializing in video post-production and motion design with many years of experience, based in Quezon City, Philippines.
      <br><br>
      He posseses a Diploma in Media Arts acquired from the Eugenio Lopez Jr. Center for Media Arts.
  </p>

  
</BaseLayout>