---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Work";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Selected Work</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales mattis ex eu tempor. In arcu ligula, convallis at elit molestie, iaculis tristique tortor. Etiam sed elementum ex. In vestibulum nibh nec nulla congue rutrum. Fusce finibus, ipsum lobortis sodales aliquet, sapien risus rutrum tellus, ut sodales lectus urna vitae sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin ac egestas mauris, quis tempus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis pellentesque urna. Mauris porta, orci pretium venenatis dignissim, lorem orci volutpat mauris, ac sagittis ligula justo quis diam. Proin aliquam risus a ex ullamcorper mollis in id dui.
  </p>
</BaseLayout>