---
import BaseLayout from '../layouts/BaseLayout.astro';
import Social from '../components/Social.astro';
import ObfuscatedEmail from '../components/ObfuscatedEmail.astro';
const pageTitle = "Thank you for reaching out!";
---
<BaseLayout pageTitle={pageTitle} showFooterCta={false}>
  <meta slot="head" name="robots" content="noindex, nofollow" />
  <main>
    <style>
      /* Desktop styles */
      @media screen and (min-width: 769px) {
        .tile-container {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
      }
    </style>
    <p>I appreciate you taking the time to send a message. Your message has been received, and I’ll get back to you as quickly as possible. If you have any urgent needs, you’re always welcome to follow up via <ObfuscatedEmail text="email."/> Have a great day!</p>
    <p>In the meantime, feel free to read my <a href="/resume">resume</a>, explore the rest of the website, or connect through other channels listed below.</p>
    <div class="tile-container">
      {[
        { platform: "LinkedIn", username: "in/matthewoyan/" },
        { platform: "Instagram", username: "sgtlighttree" },
        { platform: "Github", username: "sgtlighttree" }
      ].map((item) => (
        <div class="tile-item">
          <Social platform={item.platform} username={item.username} />
        </div>
      ))}
    </div>
    <p><a href="/">Return to the homepage</a></p>
  </main>
</BaseLayout>
