@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

/* General Styles */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: hsl(20, 30%, 98%);
    opacity: 1;
}

.wrapper {
    max-width: calc(900px - 60px);
    margin: 0 auto;
    padding: 0 30px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: calc(800px - 30px);
        padding: 0 20px;
    }
}

/* Article Styling */
.home article {
    margin: 0px 00px 25px 00px;
    overflow: hidden;
}

@media (min-width: 800px) {
    .home article {
      margin: 35px 00px 50px 00px;
    }
}

/* Post Styling */
.post {
    margin-bottom: 20px;
    box-shadow: 0px 20px 20px 1px rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px) {
  .home article {
    box-shadow: 0px 30px 60px 1px rgba(0, 0, 0, 0.45);
  }
}

.post-title {
    font-size: 24px;
}

/* Video Styling */
video {
    width: 100% !important;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Image & Link Styling */
img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}

.link-block {
    display: block;
    position: relative;
    color: inherit;
    text-decoration: none;
}

/* Post Overlay Styling */
.overlay-container {
    position: relative;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.overlay-container:hover .overlay,
.overlay-container:hover .text {
    opacity: 1;
}

.text {
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text h2 {
    font-size: 2rem;
    margin: 0;
}

@media (max-width: 600px) {
  .text h2 {
    font-size: 1.5rem !important;
  }
}

.text .post-date,
.text p {
    margin-bottom: 10px;
}

/* Header & Navigation */
.site-header {
    position: relative;
    padding-top: 5px;
    border-top: none;
}

.site-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(to right, pink, red, orange, yellow, green, blue, indigo, violet);
    z-index: 1;
}

.site-nav {
    z-index: 1;
    opacity: 1;
    border-radius: 0;
}

/* Horizontal Gallery */
.horizontal-gallery-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.horizontal-gallery {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.horizontal-gallery::-webkit-scrollbar {
    display: none;
}

.horizontal-gallery > * {
    flex-shrink: 0;
    margin-right: 10px;
}

.scroll-arrow {
    position: absolute;
    top: 38%;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    color: white;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.scroll-arrow:active {
    transform: translateX(-5px);
}

.scroll-arrow.right:active {
    transform: translateX(5px);
}

.scroll-arrow .material-symbols-outlined {
    font-size: 4rem;
}

.scroll-arrow:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.scroll-arrow.left {
    left: 0;
}

.scroll-arrow.right {
    right: 0;
}

/* Media Box */
.gallery-media-box {
    max-height: 100%;
    overflow: hidden;
}

.gallery-media-box img,
.gallery-media-box video {
    object-fit: contain;
    display: block;
}

/* Home Page Media */
.home-media-box {
    width: 100%;
    height: auto;
    margin: 0;
}

.home-media-box img,
.home-media-box video {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}
