@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* background-color: rgb(255, 247, 230); */
}

.post-title { /* This is for blogs */
    font-size: 24px; /* Adjust the size as needed */
    /* font-weight: bold; Optional: add this if you want bold text */
}

video {
    width: 100% !important;
}

.media-box video,
.media-box img {
  max-height: 500px; /* Adjust this value to your preference */
  display: block;
  margin: 0 auto;
  object-fit: cover; /* Maintain aspect ratio and center image */
  width: 100%;
  object-fit: cover; /* Ensures media covers the area */
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover */
}

.media-box video:hover,
.media-box img:hover {
  transform: scale(1.05); /* Scale on hover */
  cursor: pointer; /* Show pointer cursor */
}

.media-box video:active,
.media-box img:active {
  transform: scale(0.95); /* Scale slightly when clicking */
}

.home article a {
  display: block; /* or inline-block if you prefer */
  margin: 10px 0 20px; /* Margin specific to readable spacing */
}
  
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625) */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

