---
const { title, url, date } = Astro.props;
---

<div class="tile-item">
    <small>{new Date(date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</small>
    <br/>   
    <a href={url}>{title}</a>
</div>
