---
import Social from './Social.astro';
import ObfuscatedEmail from './ObfuscatedEmail.astro';

export interface Props {
  showCta?: boolean;
}
const { showCta = true } = Astro.props;
---
<style>

</style>

<footer>
  {showCta && (
    <>
      <h2>Interested?</h2>
      <h3>Feel free to check out <ObfuscatedEmail /> or <a href="/contact/">Contact</a> for more information.</h3>
    </>
  )}
  <hr style="border: .5px solid var(--portfolio-border); margin-top: 2em; margin-bottom: 1em">
  <div>
    <div>
      <canvas id="dotLottie-canvas" style="width: 50px; height: 30px;"></canvas>

      <script type="module">
        import { DotLottie } from "https://esm.sh/@lottiefiles/dotlottie-web";

        const canvas = document.querySelector("#dotLottie-canvas");
        const src = "../../../MatthewOyan_MonogramAnimated.json";

        const dotLottie = new DotLottie({
          canvas,
          src,
          loop: true,
          autoplay: true
        });
      </script>
    </div>
    2025 Matthew Oyan. <a href="https://github.com/sgtlighttree/mywebsite/">Website code</a> under MIT License.
  </div>
</footer>