---
import Social from './Social.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<style>

</style>

<footer>
  <h2>Interested?</h2>
  <h3>Feel free to check out <a href="mailto:matthew.oyan@protonmail.com">Email</a> or <a href="/contact/">Contact</a> for more information.</h3>
  <ThemeIcon />
  <!--
  <Social platform="github" username="sgtlighttree" />
  <Social platform="instagram" username="sgtlighttree" />
   -->
</footer>