---
import Navigation from "./Navigation.astro";
---
<header>
    <nav>
        <div class="nav-top-row">
            <a href="/" style="text-decoration: none;"><div class="site-title">Matthew Oyan</div></a>
        </div>
        <Navigation />
    </nav>
</header>