---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---
<header>
    <nav>
        <div class="nav-top-row">
            <div class="site-title">Matthew Oyan</div>
            <Hamburger />
        </div>
        <Navigation />
    </nav>
</header>