---
const currentPath = Astro.url.pathname;
---
<div class="nav-links">
    <a href="/" class={currentPath === '/' ? 'active' : ''}>Work</a>
    <a href="/resume/" class={currentPath === '/resume/' ? 'active' : ''}>Resume</a>
    <a href="/writings/" class={currentPath === '/writings/' ? 'active' : ''}>Writings</a>
    <a href="/contact/" class={currentPath === '/contact/' ? 'active' : ''}>Contact</a>
    <!--<a href="/tags/" class={currentPath === '/tags/' ? 'active' : ''}>Tags</a>-->
</div>