---
---
<div class="nav-links">
    <!--<a href="/">Home</a>-->
    <a href="/about/">About</a>
    <a href="/writings/">Writings</a>
    <a href="/contact/">Contact</a>
    <!--<a href="/tags/">Tags</a>-->
</div>
