---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/writing/">Writing</a>
    <a href="/contact/">Contact</a>
    <!-- <a href="/tags/">Tags</a> -->
</div>
