---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }} - Home</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/custom_styles.css' | relative_url }}">
</head>
<body>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

  <!-- Media Box with Conditional Content -->
    <div class="media-box">
    {% if page.media_type == "video" %}
        <video width="100%" autoplay loop muted>
        <source src="{{ page.media_path }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    {% elsif page.media_type == "image" %}
      <img src="{{ page.media_path }}" alt="Featured Image" width="100%">
    {% endif %}
    </div>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
</body>
</html>
